.App {
    text-align: center;
}

.App-header {
    padding: 20%;
    color: white;
    margin-top: 50%;
    border: 10px solid white;
    width: 80%;
    justify-content: center;
    align-self: center;
    border-radius: 10%;
}

body {
    display: flex;
    background-image: url(./assets/background-nature.jpg);
    height: 100%;
    width: 100%;
    justify-content: center;
}

Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-left: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #000061;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}